.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #211F54;
    border-radius: 24px;
    margin-top: 155px;
    margin-bottom: 155px;
}

.follow {
    display: flex;
    align-items: center;
    gap: 72px;

}
.follow-info{
    width: 50%;
    > h2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1.6px;
        color: #FFFFFF;
        padding-bottom: 21px;
    }
    > h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
        padding-bottom: 21px;
        letter-spacing: 1.4px;
    }
    > p {
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        color:#FFFFFF;
        padding-bottom: 13px;

    }
}
.fellow-btn {
    display: flex;
    align-items: center;
    gap: 26px;

    > button {
        padding: 20px 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color:#FFFFFF;
        background-color: #0075FF;
        border: none;
        border-radius: 14px;
        cursor: pointer;

    }
}

.fellow-phone{
    display: flex;
    gap: 10px;
    > p {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }

}

.fellow-phone-info{
    > h3{
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 2.6px;
        color: #FFFFFF;
        margin-bottom: 14px;


    }
    > p{
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
        color:#FFFFFF;


    }
}