.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 155px;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #211f54;
    margin-bottom: 58px;
  }
  >.btn-primary{
    padding: 20px 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color:#211F54;
    background: #EFF0F6;
    border-radius: 16px;
    border: none;
    cursor: pointer;

}
}

.services-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 48px;
}
.services-box {
  width: 388px;
  height: 494px;
  text-align: center;
  margin-top: 40px;

  > img {
    height: 200px;
  }
  > h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #211f54;
    margin-top: 23px;
    margin-bottom: 13px;
  }
  > p {
    width: 312px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    color: #6e7191;
    padding-bottom: 39px;
  }
}
